html {
    box-sizing: border-box;
    height: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
}
span {
    font-size: 14px;
}
body {
    font-family: 'Anton', sans-serif, 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    height: 100%;
    background-color: #fff;
    color: #000;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


/* header========================================================= */

/* header_top=========================================== */
.header {
    background: linear-gradient(105.89deg, rgba(0, 0, 0, 0.37) 5.05%, rgba(0, 0, 0, 0.15) 112.97%), url(/img/background_img.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    color: #fff;
}
.header_top {
    padding-top: 55px;
    padding-bottom: 200px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.menu_btn {
    display: none;
}
.nav_header {
    display: flex;
    align-items: center;
    gap: 69px;
}
.header_item {
    display: flex;
    gap: 40px;
}
.header_item_list {
    font-size: 14px;
    line-height: 21px;
    transition: .3s ease;
}
.header_item_list:hover,
.phone:hover {
    opacity: .5;
}
.phone {
    font-size: 17px;
    line-height: 26px;
    transition: .3s ease;
}

/* header_bottom======================================== */
.header_bottom {
    padding-bottom: 322px;
    text-transform: uppercase;
}
.subtitle {
    font-size: 30px;
    font-weight: normal;
    line-height: 45px;
    letter-spacing: 0.1em;
}
.title {
    font-size: 100px;
    font-weight: normal;
    line-height: 151px;
    padding-bottom: 19px;
}
.header_btn_link {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    padding: 18px 23px;
    max-width: 238px;
    width: 100%;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: .3s ease;
}
.header_btn_link:hover {
    background-color: #fff;
    color: #000;
}


/* main=========================================================== */

/* about================================================ */
.main {
    flex-grow: 1;
}
.about_info {
    display: flex;
}
.about_title {
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    padding-bottom: 58px;
    padding-top: 113px;
}
.info_title {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    padding-bottom: 19px;
}
.info_text_first {
    margin-right: 36px;
}
.info_text_first,
.info_text_second {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    max-width: 564px;
    margin-bottom: 67px;
}
.about_img {
    display: flex;
    gap: 30px;
}
.two_img {
    display: flex;
    gap: 29px;
}

/* footer========================================================= */

/* footer_text */
.footer_text {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    gap: 75px;
    padding-top: 114px;
    padding-bottom: 80px;
}

/* @media========================================================= */

@media (max-width: 1200px) {
/* header */
/* header_bottom */
    .header_bottom {
        padding-bottom: 320px;
    }
/* main */
    .about_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .two_img {
        display: flex;
        justify-content: space-evenly;
        gap: 29px;
    }
/* footer */
    .footer_text {
        justify-content: space-around;
        padding-top: 110px;
        padding-bottom: 80px;
    }
}

@media (max-width: 1000px) {
/* header */
/* header_top */
    .header_top {
        padding-top: 50px;
        padding-bottom: 180px;
    }
    .nav_header {
        gap: 65px;
    }
/* header_bottom */
    .header_bottom {
        padding-bottom: 310px;
    }
    .subtitle {
        font-size: 28px;
        line-height: 43px;
        letter-spacing: 0.1em;
    }
    .title {
        font-size: 95px;
        line-height: 140px;
        padding-bottom: 15px;
    }
    .header_btn_link {
        line-height: 25px;
    }
/* main */
    .about_title {
        line-height: 65px;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    .info_title {
        line-height: 30px;
    }
    .info_text_first,
    .info_text_second {
        line-height: 22px;
        max-width: 550px;
        margin-bottom: 60px;
    }
/* footer */
    .footer_text {
        padding-top: 90px;
        padding-bottom: 70px;
    }
}

@media (max-width: 840px) {
/* header */
/* header_top */
    .header_top {
        padding-top: 45px;
        padding-bottom: 160px;
    }
    .nav_header {
        gap: 55px;
    }
    .header_item {
        gap: 35px;
    }
    .header_item_list {
        line-height: 19px;
    }
    .phone {
        font-size: 15px;
        line-height: 24px;
    }
/* header_bottom */
    .header_bottom {
        padding-bottom: 290px;
    }
    .title {
        font-size: 90px;
        line-height: 130px;
        padding-bottom: 15px;
    }
/* main */
    .about_title {
        font-size: 45px;
        line-height: 60px;
        padding-bottom: 45px;
        padding-top: 90px;
    }
    .info_title {
        line-height: 25px;
    }
    .info_text_first,
    .info_text_second {
        line-height: 20px;
        max-width: 500px;
        margin-bottom: 50px;
    }
/* footer */
    .footer_text {
        justify-content: space-around;
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

@media (max-width: 620px) {
/* header */
/* header_top */
    .header_top {
        padding-top: 40px;
        padding-bottom: 140px;
    }
    .menu_btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }
    .btn_line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .3s ease;
    }
    .btn_line:nth-child(1) {
        top: 0;
    }
    .btn_line:nth-child(2){
        top: 20px;
    }
    .btn_line:nth-child(3) {
        top: 20px;
    }
    .btn_line:nth-child(4) {
        top: 40px;
    }
    .menu_open .btn_line:nth-child(1){
        transform: scaleX(0);
    }
    .menu_open .btn_line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu_open .btn_line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu_open .btn_line:nth-child(4){
        transform: scaleX(0);
    }
    .nav_header {
        gap: 45px;
    }
    .header_item {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(1, 0, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: .3s ease;
    }
    .menu_open .header_item {
        transform: translateY(0);
    }
    .header_item_list {
        font-size: 14px;
        line-height: 17px;
    }
    .phone {
        font-size: 13px;
        line-height: 20px;
    }
/* header_bottom */
    .header_bottom {
        padding-bottom: 250px;
    }
    .subtitle {
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 0.1em;
    }
    .title {
        font-size: 80px;
        line-height: 120px;
    }
    .header_btn_link {
        line-height: 24px;
    }
/* main */
    .about_title {
        font-size: 45px;
        line-height: 50px;
        padding-bottom: 40px;
        padding-top: 80px;
    }
    .info_title {
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 15px;
    }
    .info_text_first {
        margin-right: 30px;
    }
    .info_text_first,
    .info_text_second {
        font-size: 14px;
        line-height: 18px;
        max-width: 450px;
        margin-bottom: 40px;
    }
    .about_img {
        gap: 0;
    }
    .two_img {
        flex-direction: column;
        gap: 20px;
    }
    .third_img {
        display: none;
    }
/* footer */
    .footer_text {
        font-size: 13px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 440px) {
/* header */
/* header_top */
    .header_top {
        padding-top: 35px;
        padding-bottom: 120px;
    }
/* header_bottom */
    .header_bottom {
        padding-bottom: 170px;
    }
    .subtitle {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
    .title {
        font-size: 60px;
        line-height: 110px;
    }
    .header_btn_link {
        padding: 15px 20px;
        max-width: 200px;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.1em;
    }
/* main */
    .about_title {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .info_title {
        padding-bottom: 10px;
    }
    .info_text_first {
        margin-right: 26px;
    }
    .info_text_first,
    .info_text_second {
        line-height: 16px;
        margin-bottom: 30px;
    }
    .two_img {
        gap: 10px;
    }
/* footer */
    .footer_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 320px) {
/* header */
/* header_top */
    .header_top {
        padding-top: 30px;
        padding-bottom: 90px;
    }
    .phone {
        font-size: 13px;
        line-height: 15px;
    }
/* header_bottom */
    .header_bottom {
        padding-bottom: 90px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1em;
    }
    .title {
        font-size: 40px;
        line-height: 100px;
        padding-bottom: 10px;
    }
    .header_btn_link {
        padding: 10px 15px;
        max-width: 150px;
        width: 100%;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }
/* main */
    .about_title {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .info_title {
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 10px;
    }
    .info_text_first {
        margin-right: 20px;
    }
    .info_text_first,
    .info_text_second {
        line-height: 16px;
        margin-bottom: 20px;
    }
/* footer */
    .footer_text {
        gap: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}